<%- include('./partials/header') %>

<div class="top-card" style="display:flex; align-items: center;
justify-content: center;margin-bottom: 20%;">
    <div class="card" style="width:18rem;">
        <img class="card-img-top" src="/img/error.jpg" alt="bank ilustration">
        <div class="card-body">
            <h2 class="card-title">ERROR</h2>
            <p class="card-text">
                <%= message %>
            </p>
            <a href="/" class="btn btn-primary" style="margin-left:20%;margin-right:20%;"> Go back home</a>
        </div>
    </div>  
</div>
<%- include('./partials/footer') %>