<%- include('./partials/header') %>


<div class="top-card" style="display:flex; align-items: center;
justify-content: center;margin-bottom: 20%;">
    <div class="card" style="width:18rem;">
        <img class="card-img-top" src="/img/bank.jpg" alt="bank ilustration">
        <div class="card-body">
            <h2 class="card-title">BANK</h2>
            <p class="card-text">Click below button to see all customers table and select from one of them</p>
            <div class="buttons_flex" style="display:flex;justify-content: space-between;">
                <a href="/customers" class="btn btn-primary" >Customers or Transfer</a>
                <br><br>
                <a href="/transactions" class="btn btn-primary" >ALL Transactions</a>
            </div>
            
        </div>
    </div>  
</div>
   

    <%- include('./partials/footer') %>
