<%- include('./partials/header') %>


<div class="top-card" style="display:flex; align-items: center;
justify-content: center;margin-bottom: 20%;">
    <div class="card" style="width:18rem;">
        <img class="card-img-top" src="/img/bank.jpg" alt="bank ilustration">
        <div class="card-body">
            <h2 class="card-title">BANK</h2>
            <p class="card-text">Click below button to see all customers table and select from one of them</p>
            <a href="/customers" class="btn btn-primary" style="margin-left:20%;margin-right:20%;"> View ALL Customers</a>
            
        </div>
    </div>  
</div>
   

    <%- include('./partials/footer') %>
